/* font-family: 'Karma', serif;
font-family: 'Oswald', sans-serif; */
/* - *Typefaces:* `Karma`, `Oswald`
- *Text sizes:* `1.4rem`, `2rem`
- *Line-heights:* `1.5`
- *Colours:* `#6f00e7`, `#987ffa`, `#000`
- *Gaps:* `1rem`
- *Margins:* `.25em`, `1.5rem`
- *Paddings:* `.5em 1.5em .7em`, `.25em`, `1rem`
- *Border thicknesses:* `3px`
- *Corner-radii:* `3em`, `6px` */


html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: Karma, serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}


body {
  margin: 0;
}

h2 {
  font-family: Oswald, sans-serif;
  margin: 0;
  color: #6f00e7;
  font-size: 2rem;
}


ol {
  list-style-type: none;
  padding: 0;
  margin: 0;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
